.runtime/
ui/tests/.runtime/
ui/coverage/
ui/dist/
**/auth.json
**/.env.*
!**/.env.example
startup.log
ui/node_modules/
tests/.runtime/
app/vendor/
app/.env
app/database/*.sqlite*
app/storage/logs/*
app/storage/app/public/images/*
app/bootstrap/cache/*.php
app/storage/framework/cache/data/*
app/storage/framework/sessions/*
app/storage/framework/views/*
